// Colours
$white:     #FFFFFF;
$lightgray: #CFDEDB;
$darkgray:  #333636;
$aqua:      #65ACC2;
$fuscia:    #2E5794;
$blue:      #0F3369;
$mauve:     #8C658F;

// Used in Scrabble demo
$yellow:      #FFD959;
$fadedyellow: #BDA259;